# compiled output
dist
node_modules

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store

# Tests
/coverage
/.nyc_output

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Environment
.env.local
.env.*.local

# Minio
.minio

# MikroORM
db/migrations/.snapshot-*.json

# Temp
tmp/**
!tmp/.keep
temp/**
!temp/.keep

# AdminJS
.adminjs

# ToDo Files
TODO
.todo
.todos
.tasks
.task
*.todo
*.todos
*.task
*.tasks
*.taskpaper
todolist.txt
