{
  "parser": "typescript",
  "bracketSpacing": true,
  "bracketSameLine": false,
  "singleQuote": true,
  "jsxSingleQuote": false,
  "semi": false,
  "trailingComma": "all",
  "printWidth": 120,
  "arrowParens": "always",
  "quoteProps": "consistent",
  "endOfLine": "lf",
  "overrides": [
    {
      "files": "*.css",
      "options": {
        "parser": "css"
      }
    },
    {
      "files": "*.{gql,graphql}",
      "options": {
        "parser": "graphql"
      }
    },
    {
      "files": "*.{yml,yaml}",
      "options": {
        "parser": "yaml"
      }
    },
    {
      "files": "*.md",
      "options": {
        "parser": "markdown"
      }
    },
    {
      "files": "*.html",
      "options": {
        "parser": "html"
      }
    },
    {
      "files": "*.json",
      "options": {
        "parser": "json"
      }
    }
  ]
}
